<a href="https://colab.research.google.com/github/18ME10049/18ME10049/blob/main/Data_Analyst_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [235]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import datetime

In [236]:
df1 = pd.read_csv('epl_players.csv', parse_dates=['date'])

In [237]:
df1['age'] = pd.to_datetime(df1.birthday)

In [238]:
df1.head()

   player_id         birthday  height  ...  gk_positioning gk_reflexes        age
0     155782  12/15/1989 0:00  170.18  ...             9.0        12.0 1989-12-15
1     155782  12/15/1989 0:00  170.18  ...             9.0        12.0 1989-12-15
2     155782  12/15/1989 0:00  170.18  ...             9.0        12.0 1989-12-15
3     155782  12/15/1989 0:00  170.18  ...             9.0        12.0 1989-12-15
4     155782  12/15/1989 0:00  170.18  ...             9.0        12.0 1989-12-15

[5 rows x 42 columns]

In [239]:
def from_dob_to_age(born):
    return 2014 - born.year - ((1, 1) < (born.month, born.day))

In [240]:
df1['age'] = df1['age'].apply(lambda x: from_dob_to_age(x))

In [241]:
df1.head()

   player_id         birthday  height  ...  gk_positioning gk_reflexes   age
0     155782  12/15/1989 0:00  170.18  ...             9.0        12.0  24.0
1     155782  12/15/1989 0:00  170.18  ...             9.0        12.0  24.0
2     155782  12/15/1989 0:00  170.18  ...             9.0        12.0  24.0
3     155782  12/15/1989 0:00  170.18  ...             9.0        12.0  24.0
4     155782  12/15/1989 0:00  170.18  ...             9.0        12.0  24.0

[5 rows x 42 columns]

In [242]:
print(datetime.date.today())

2021-02-21

In [243]:
start_date = '2014-01-01'
end_date = '2015-12-31'
mask =  (df1['date'] <= start_date)

In [244]:
df = df1.loc[mask]

In [245]:
df.describe()

           player_id        height  ...   gk_reflexes           age
count   19316.000000  19307.000000  ...  19155.000000  19307.000000
mean    75630.235194    182.531896  ...     17.804020     27.772725
std     81376.584362      6.581972  ...     17.767021      4.655982
min      2802.000000    165.100000  ...      1.000000     14.000000
25%     26348.000000    177.800000  ...      8.000000     24.000000
50%     36802.000000    182.880000  ...     12.000000     27.000000
75%    107415.000000    187.960000  ...     21.000000     31.000000
max    750435.000000    203.200000  ...     94.000000     44.000000

[8 rows x 37 columns]

In [246]:
df['goal_keeping_overall'] = (df['gk_diving'] + df['gk_handling'] + df['gk_kicking'] + df['gk_positioning'] + df['gk_reflexes']) / 5 
df['tackle_skill'] = (df['sliding_tackle'] + df['standing_tackle']) / 2
df['crossing'] = (df['crossing'] + df['finishing'])/2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [247]:
df.head()

    player_id         birthday  ...  goal_keeping_overall  tackle_skill
15     155782  12/15/1989 0:00  ...                   9.2          72.0
16     155782  12/15/1989 0:00  ...                   9.2          72.0
17     155782  12/15/1989 0:00  ...                   9.2          72.0
18     155782  12/15/1989 0:00  ...                   9.2          72.0
19     155782  12/15/1989 0:00  ...                   9.2          72.0

[5 rows x 44 columns]

In [248]:
df_removed = df.drop(['birthday','curve','date','acceleration','gk_diving','sprint_speed','finishing','gk_handling', 'gk_kicking' ,'gk_positioning','gk_reflexes','standing_tackle' ,'sliding_tackle' ,'birthday',
        'preferred_foot','agility','reactions','interceptions','positioning','vision'], axis=1)

In [249]:
df_removed['attacking_work_rate'] = df_removed['attacking_work_rate'].apply(lambda x: 3 if x =='high' else (2 if x =='medium' else 1))  
df_removed['defensive_work_rate'] = df_removed['defensive_work_rate'].apply(lambda x: 3 if x =='high' else (2 if x =='medium' else 1))

In [250]:
df_removed.head()

    player_id  height  weight  ...   age  goal_keeping_overall  tackle_skill
15     155782  170.18   146.0  ...  24.0                   9.2          72.0
16     155782  170.18   146.0  ...  24.0                   9.2          72.0
17     155782  170.18   146.0  ...  24.0                   9.2          72.0
18     155782  170.18   146.0  ...  24.0                   9.2          72.0
19     155782  170.18   146.0  ...  24.0                   9.2          72.0

[5 rows x 25 columns]

In [251]:
# cols = ['crossing',	'heading_accuracy',	'short_passing',	'volleys',	'dribbling',	'free_kick_accuracy',	'long_passing','ball_control'	,'balance'	,'shot_power','long_shots','aggression','penalties','marking']

In [252]:
# from sklearn.preprocessing import StandardScaler
# df_removed[cols] = df_removed[cols]/100

final_df = df_removed

In [253]:
final_df.head()

    player_id  height  weight  ...   age  goal_keeping_overall  tackle_skill
15     155782  170.18   146.0  ...  24.0                   9.2          72.0
16     155782  170.18   146.0  ...  24.0                   9.2          72.0
17     155782  170.18   146.0  ...  24.0                   9.2          72.0
18     155782  170.18   146.0  ...  24.0                   9.2          72.0
19     155782  170.18   146.0  ...  24.0                   9.2          72.0

[5 rows x 25 columns]

In [254]:
# all_players = [set(final_df['player_id'])]

In [255]:
# from google.colab import files

# # e.g. save pandas output as csv
# final_df.to_csv('clean_epl_players.csv')
# # 
# # or any other file as usual
# # with open('example.csv', 'w') as f:
# #   f.write('your strings here')

# files.download('clean_epl_players.csv')

In [256]:
clean_daataset = final_df.groupby(['player_id']).mean()

In [257]:
clean_daataset.head()

           height  weight  ...  goal_keeping_overall  tackle_skill
player_id                  ...
2802       172.72   159.0  ...             16.440000     38.600000
3512       177.80   163.0  ...             17.769231     54.884615
3520       172.72   154.0  ...             17.600000     28.617647
8922       187.96   185.0  ...             11.866667     15.611111
8985       187.96   172.0  ...             15.975000     65.625000

[5 rows x 24 columns]

In [258]:
clean_daataset

           height  weight  ...  goal_keeping_overall  tackle_skill
player_id                  ...
2802       172.72   159.0  ...             16.440000     38.600000
3512       177.80   163.0  ...             17.769231     54.884615
3520       172.72   154.0  ...             17.600000     28.617647
8922       187.96   185.0  ...             11.866667     15.611111
8985       187.96   172.0  ...             15.975000     65.625000
...           ...     ...  ...                   ...           ...
693138     187.96   181.0  ...              9.000000     68.000000
696365     180.34   154.0  ...             10.600000     20.000000
706985     177.80   154.0  ...             10.600000     56.500000
742405     175.26   172.0  ...             11.200000     57.500000
750435     172.72   150.0  ...              9.600000     20.000000

[1397 rows x 24 columns]

In [259]:
goals_data = pd.read_csv("epl_goals.csv")

In [260]:
goals_data.head()

   match_id  team_id  goal_number  player_id  player2_id goal_type
0     49337    10261            1    37799.0     38807.0    header
1     49337    10260            2    24148.0     24154.0      shot
2     38136     9825            1    26181.0     39297.0      shot
3     43276     8650            1    30853.0     30889.0  distance
4     40671     8654            1    23139.0     36394.0      shot

In [261]:
goals_data['goal_number'] = (goals_data['goal_number'] > 0).astype(int)

In [262]:
goals_data.drop(['goal_type','match_id','team_id' ,'player2_id'],axis=1)

      goal_number  player_id
0               1    37799.0
1               1    24148.0
2               1    26181.0
3               1    30853.0
4               1    23139.0
...           ...        ...
7556            1    25666.0
7557            1   239807.0
7558            1    41232.0
7559            1   192899.0
7560            1    37459.0

[7561 rows x 2 columns]

In [263]:
goal_data = goals_data.groupby(['player_id']).sum()

In [264]:
goal_data.head()

           match_id  team_id  goal_number  player2_id
player_id
2802.0       223290    50015            5    545678.0
3520.0      1078802   235800           24    456035.0
8922.0      1407121   260026           30   1230169.0
8985.0       274016    58956            6     35345.0
10491.0      345135    69344            8    197020.0

In [265]:
goal_data = goal_data.drop(['match_id','team_id' ,'player2_id'],axis=1)

In [266]:
goal_data.head()

           goal_number
player_id
2802.0               5
3520.0              24
8922.0              30
8985.0               6
10491.0              8

In [267]:
my_fully_final_data = pd.merge(goal_data, clean_daataset, on='player_id')

In [268]:
my_fully_final_data.fillna(0)

           goal_number  height  ...  goal_keeping_overall  tackle_skill
player_id                       ...
2802.0               5  172.72  ...             16.440000     38.600000
3520.0              24  172.72  ...             17.600000     28.617647
8922.0              30  187.96  ...             11.866667     15.611111
8985.0               6  187.96  ...             15.975000     65.625000
10491.0              8  185.42  ...             17.766667     37.833333
...                ...     ...  ...                   ...           ...
479020.0             7  177.80  ...             10.400000     23.500000
501040.0             1  187.96  ...             11.600000     55.000000
502421.0             1  193.04  ...             11.000000     27.500000
532741.0             3  182.88  ...             11.400000     22.500000
570431.0             1  175.26  ...              8.600000     29.000000

[838 rows x 25 columns]

In [269]:
my_fully_final_data.head()

           goal_number  height  ...  goal_keeping_overall  tackle_skill
player_id                       ...
2802.0               5  172.72  ...             16.440000     38.600000
3520.0              24  172.72  ...             17.600000     28.617647
8922.0              30  187.96  ...             11.866667     15.611111
8985.0               6  187.96  ...             15.975000     65.625000
10491.0              8  185.42  ...             17.766667     37.833333

[5 rows x 25 columns]

In [270]:
##Metric to deside valuable players

my_fully_final_data['My_metric'] = 100 * my_fully_final_data['goal_number'] + 50 * (my_fully_final_data['attacking_work_rate'] + my_fully_final_data['defensive_work_rate'] + my_fully_final_data['shot_power']) + 30 * (my_fully_final_data['short_passing']  + my_fully_final_data['heading_accuracy']) + 20 * (my_fully_final_data['dribbling'] + my_fully_final_data['free_kick_accuracy']) + 10 * (my_fully_final_data['long_passing'] + my_fully_final_data['ball_control']) + 5 * (my_fully_final_data['jumping'] + my_fully_final_data['stamina'] + my_fully_final_data['strength']) - 50 * (my_fully_final_data['aggression']  + my_fully_final_data['penalties'] + my_fully_final_data['age'])

In [271]:
my_fully_final_data.head()

           goal_number  height  ...  tackle_skill    My_metric
player_id                       ...
2802.0               5  172.72  ...     38.600000  6225.666667
3520.0              24  172.72  ...     28.617647  8590.294118
8922.0              30  187.96  ...     15.611111  7527.777778
8985.0               6  187.96  ...     65.625000  5908.750000
10491.0              8  185.42  ...     37.833333  6996.250000

[5 rows x 26 columns]

In [273]:
result = my_fully_final_data[my_fully_final_data['My_metric'].notna()]

In [274]:
answer = result.sort_values('My_metric')

In [285]:
least_valuable = answer.head(10)
most_valuable = answer.tail(10)

In [289]:
least_valuable

           goal_number  height  ...  tackle_skill    My_metric
player_id                       ...
23794.0              1  195.58  ...     17.593750 -2016.562500
36373.0              3  187.96  ...     23.500000 -1386.666667
25156.0              1  193.04  ...     17.625000 -1261.875000
103428.0             1  203.20  ...     18.933333 -1240.333333
36374.0              2  190.50  ...     17.125000 -1102.500000
23686.0              1  193.04  ...     21.083333 -1097.500000
31465.0              2  190.50  ...     14.529412  -713.529412
30660.0              1  187.96  ...     14.312500  -687.500000
46518.0              1  200.66  ...     14.441176  -656.764706
24579.0              1  182.88  ...     15.857143  -533.928571

[10 rows x 26 columns]

In [290]:
most_valuable

           goal_number  height  ...  tackle_skill     My_metric
player_id                       ...
30348.0             65  170.18  ...     15.911765  12117.352941
30853.0             62  185.42  ...     24.763158  12250.789474
23949.0             73  180.34  ...     34.078947  12627.631579
40636.0             74  182.88  ...     39.250000  12897.083333
30618.0             71  182.88  ...     71.343750  12911.875000
27430.0             73  187.96  ...     17.921053  14208.947368
30631.0             89  182.88  ...     64.882353  14420.882353
37412.0             80  172.72  ...     17.264706  14746.470588
30829.0            127  175.26  ...     44.363636  18544.090909
30843.0            124  187.96  ...     25.911765  19091.764706

[10 rows x 26 columns]